<p>Hola <%= @resource.name %>!</p>

<p>Para continuar con el proceso de recuperación de contraseña, dá click en el siguiente vínculo:</p>

<p><strong><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></strong></p>

<p>Si no has solicitado estas instrucciones, por favor ignora este correo.</p>

<p>- SoccerBet</p>